configuration {
    modi: "drun,run,window";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    window-format: "{w} {c} {t}";
}

//@theme 

@theme "/home/nova/.local/share/rofi/themes/rounded-template.rasi"
